body {
	padding: 10px;
}
.header {
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
	margin: 20px;
	padding: 10px;
}
.row {
	background-color: #bfbfbf;
	border: 1px solid black;
	margin:1% ;
	height: auto;
}
.row .row-title {
	border: 1px solid black;
	margin: 0;
	float: right;
	text-align: right;
	width: 100px;	
}
.row p {
	padding: 30px;
	margin: 0;
}
.row .bg_pink {
	background-color: #d59898;
}
.row .bg_maroon {
	background-color: #c14543;
	color: #fff;
}
.row .bg_yellow {
	background-color: #e5d198;
}
/*** small devices***/
@media (max-width: 767px) {
	.row {
		width: 90%;
		margin: 5%;
	}
}
/*** medium devices***/
@media (min-width: 768px) and (max-width: 991px) {
	.row {
		float: left;
		width: 44%;
	}
	.max-width {
		width: 90%;

	}
}
/*** Large devices***/
@media (min-width: 992px) {
	.row {
		float: left;
		width: 31%;
	}
}		
